{% extends 'base.html.twig' %}

{% block body %}
    <div class="container row view_profil">

        {% if autorisation == true %}
            <h1>Mon profil</h1>
        {% else %}
        <h1>Profil de {{ participant.prenom }}</h1>
        {% endif %}


    <div class="col-lg-3 photo">
        <img class="picture_profil" src="{{ asset('images/avatar.png') }}">
    </div>
    <div class="col-lg-3">
        <div class="row-prenom">
            <p>Prénom :</p>
            <p>{{ participant.prenom }}</p>
        </div>
        <div class="row-nom">
            <p>Nom :</p>
            <p>{{ participant.nom }}</p>
        </div>
        <div class="row-telephone">
            <p>Téléphone :</p>
            <p>{{ participant.telephone }}</p>
        </div>
        <div class="row-email">
            <p>Email :</p>
            <p>{{ participant.email }}</p>
        </div>
        <div class="row-ville">
            <p>Ville :</p>
            <p>{{ participant.site.getNom }}</p>
        </div>
    </div>

    <div class="row btn">
            <a class="btn-action" href="{{ path('main') }}"><i class="fas fa-arrow-circle-left"></i> Retour</a>
        {% if autorisation == true %}
            <a class="btn-action" href="{{ path('edit_profil', {id: participant.id}) }}" class="btn btn-outline-success"><i class="fas fa-edit"></i> Modifier</a>
        {% endif %}

    </div>

    </div>




{% endblock %}