{% extends 'base.html.twig' %}

{% block body %}
        <h1> Annuler une sortie </h1>

        <div class="row">
            <div class="col-lg-6">
                        <div>
                            <p>Nom de la sortie :   {{ s.nom }} </p>
                        </div>
                        <div>
                            <p>Date et heure de la sortie :  {{ s.dateHeureDebut |date("d/m/Y H:i:s")}}</p>
                        </div>
                        <div>
                            <p> Ville organisatrice :  {{ s.site.nom }}</p>
                        </div>
                        <div>
                            <p> Lieu:  {{ s.lieu.nom }} {{ s.lieu.rue }} {{  s.lieu.ville.codePostal }} {{  s.lieu.ville.nom}}</p>
                        </div>
                <form name="annule_sortie"  action="{{ path('annuler_sortie',{id: s.id}) }}" method="post">
                    <div>
                        <label for="motif_annulation">Motif:</label>
                        <textarea required name="motif_annulation">

                        </textarea>
                    </div>
                    <div>
                        <button class="btn-action" type="submit" name="annulation" > Enregistrer</button>
                        <a href="{{ path('main')}}" class="btn btn-action"> Annuler</a>
                    </div>
                </form>


            </div>
        </div>

{% endblock %}


