{% extends 'base.html.twig' %}


{% block body %}
    <div class="row home container">
        <div class="col-lg-6">
            <h1 class="titlefiltre">Filtrer les sorties</h1>
        </div>
        <div class=" col-lg-6 connectinfo ">
            Date du jour: {{ "now"|date("m/d/Y") }}</br>
            Participant: {{ user.nom }}  {{ user.prenom }}
        </div>
    </div>
    <div class="row">
        <div class="col-9 blockfiltre">

            <form action="{{ path('recherche') }}" method="post">
                <div class="row">
                    <div class="form-group col-md-5">
                        <label for="site-select">Site:</label>
                        <select id="site-select" class="form-control" name="site-select">
                            <option selected>Tous</option>
                            {% for ss in sites %}
                                {% if (ss.nom == site) %}
                                    <option selected>{{ ss.nom }}</option>
                                {% else %}
                                    <option> {{ ss.nom }}</option>
                                {% endif %}

                            {% endfor %}
                        </select>
                        <div class="form-group">
                            <label for="name-filter">Le nom de la sortie contient:</label>
                            <input type="text" class="form-control" id="name-filter" name="name-filter"
                                   value={% if(name!=null) %}{{ name }} {% else %} "" {% endif %} placeholder="Cinéma">
                        </div>


                        <div class="row date">
                            <div class="form-group col-md-6">
                                <label for="date-deb">Entre:</label>
                                <input onchange=dateFinMini(this.value)
                                       value={% if(datedeb!=null) %} {{ datedeb }} {% else %} "" {% endif %}type="date"
                                       class="form-control" id="date-deb" name="date-deb"
                                       placeholder="Apartment, studio, or floor">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="date-fin">et</label>
                                <input type="date" class="form-control"
                                       value={% if(datefin!=null) %} {{ datefin }} {% else %} "" {% endif %}
                                       id="date-fin" name="date-fin" placeholder="Apartment, studio, or floor">
                            </div>
                        </div>

                    </div>
                    <div class="form-group col-md-5">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="organisateur-filter"
                                   name="organisateur-filter" {% if(organisateurfilter!=null) %} checked {% endif %}>
                            <label class="form-check-label" for="organisateur-filter">
                                Sorties dont je suis organisateur
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="inscrit-filter"
                                   name="inscrit-filter" {% if(inscritfilter!=null) %} checked {% endif %}>
                            <label class="form-check-label" for="inscrit-filter">
                                Sorties auxquelles je suis inscrit/e
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="noninscrit-filter"
                                   name="noninscrit-filter"{% if(noninscritfilter!=null) %} checked {% endif %}>
                            <label class="form-check-label" for="noninscrit-filter">
                                Sorties auxquelles je ne suis pas inscrit/e
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="passee-filter"
                                   name="passee-filter"{% if(passeefilter!=null) %} checked {% endif %}>
                            <label class="form-check-label" for="noninscrit-filter">
                                Sorties passées
                            </label>
                        </div>

                    </div>

                    <div class="form-group col-md-2">
                        <div>
                            <button type="submit" class="btn btn-action"><i class="fas fa-search"></i> Rechercher
                            </button>
                        </div>
                    </div>
                </div>


            </form>


    </div>
</div>
<div class="row">
    <div class="table-wrapper-scroll-y tab-scrollbar  col-9 blocktableau">
    <table class="table  table-striped mb-0">
        <thead>
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrits/places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for s in sorties %}
            {% set inscrit=false %}
            {% if (user in s.inscription)%} {% set inscrit=true %}{% endif %}
            {% if (user==s.organisateur and s.etat.libelle=='Créée' ) %}
                <tr>
                    <td>{{ s.nom }}</td>
                    <td>{{ s.dateHeureDebut |date("d/m/Y H:i")}}</td>
                    <td>{{ s.dateLimiteInscription |date("d/m/Y")}}</td>
                    <td>{{ s.inscription|length}} / {{ s.nbInscriptionsMax}}  </td>
                    <td>{{ s.etat.libelle }}</td>
                    <td></td>
                    <td>{{ s.organisateur.nom }}</td>
                    <td> <button
                                class="btn btn-modifier">
                            <a href="{{ path('edit_sortie',{id: s.id}) }}">
                                <i class="fa-solid fa-edit"></i></a><!--Modifier-->
                        </button>
                        &nbsp;
                        <button
                                class="btn btn-publier">
                            <a href="{{ path('sortie',{id: s.id}) }}">
                                <i class="fa-solid fa-paper-plane"></i></a><!--Publier-->
                        </button>
                    </td>
                </tr>

                    {% elseif(user==s.organisateur and (s.etat.libelle=='Ouverte'or s.etat.libelle=='Fermée')) %}
                        <tr>
                            <td>{{ s.nom }}</td>
                            <td>{{ s.dateHeureDebut |date("d/m/Y H:i") }}</td>
                            <td>{{ s.dateLimiteInscription |date("d/m/Y") }}</td>
                            <td>{{ s.inscription|length }} / {{ s.nbInscriptionsMax }}  </td>
                            <td>{{ s.etat.libelle }}</td>
                            <td></td>
                            <td>{{ s.organisateur.nom }}</td>
                            <td><button class="btn btn-afficher">
                                    <a href="{{ path('sortie',{id: s.id}) }}">
                                        <i class="fa-solid fa-eye"></i></a><!--Afficher-->
                                </button>
                                &nbsp;
                                <button class="btn btn-annuler">
                                        <a href="{#{{ path('#',{id: s.id}) }}#}">
                                        <i class="fa-solid fa fa-trash"></i></a><!--Annuler-->
                                </button>
                            </td>
                        </tr>
                    {% elseif(user==s.organisateur and (s.etat.libelle=='En cours'or s.etat.libelle=='Passée' or s.etat.libelle=='Annulée')) %}
                        <tr>
                            <td>{{ s.nom }}</td>
                            <td>{{ s.dateHeureDebut |date("d/m/Y H:i") }}</td>
                            <td>{{ s.dateLimiteInscription |date("d/m/Y") }}</td>
                            <td>{{ s.inscription|length }} / {{ s.nbInscriptionsMax }}  </td>
                            <td>{{ s.etat.libelle }}</td>
                            <td></td>
                            <td>{{ s.organisateur.nom }}</td>
                            <td>
                                <button

                                        class="btn btn-afficher">
                                    <a href="{{ path('sortie',{id: s.id}) }}">
                                        <i class="fa-solid fa-eye"></i></a><!--Afficher-->
                                </button>
                            </td>
                        </tr>
                    {% elseif(user!=s.organisateur and (s.etat.libelle=='Ouverte' or s.etat.libelle=='Fermée' )) %}
                        <tr>
                            <td>{{ s.nom }}</td>
                            <td>{{ s.dateHeureDebut |date("d/m/Y H:i") }}</td>
                            <td>{{ s.dateLimiteInscription |date("d/m/Y") }}</td>
                            <td>{{ s.inscription|length }} / {{ s.nbInscriptionsMax }}  </td>
                            <td>{{ s.etat.libelle }}</td>
                            <td>{% if inscrit %} x {% endif %}</td>
                            <td>{{ s.organisateur.nom }}</td>
                            <td>
                                <button
                                        class="btn btn-afficher">
                                    <a href="{{ path('sortie',{id: s.id}) }}">
                                        <i class="fa-solid fa-eye"></i></a><!--Afficher-->
                                </button>
                                {% if inscrit %}
                                    &nbsp;
                                    <button class="btn btn-desister">
                                        <a href="{{ path('desister',{id: s.id}) }}">
                                            <i class="fa-solid fa-user-minus"></i><!--Désister--> </a>
                                    </button>
                                {% else %}
                                    &nbsp;{% if(s.etat.libelle=='Ouverte') %}
                                    <button
                                            class="btn btn-inscrit">
                                    <a href="{{ path('inscrire',{id: s.id}) }}">
                                        <i class="fa-solid fa-user-plus"></i><!--inscrire--></a>
                                    </button>{% endif %}{% endif %}
                            </td>
                        </tr>
                    {% elseif(user!=s.organisateur and (s.etat.libelle=='En cours' or s.etat.libelle=='Passée' or s.etat.libelle=='Annulée' )) %}
                        <tr>
                            <td>{{ s.nom }}</td>
                            <td>{{ s.dateHeureDebut |date("d/m/Y H:i") }}</td>
                            <td>{{ s.dateLimiteInscription |date("d/m/Y") }}</td>
                            <td>{{ s.inscription|length }} / {{ s.nbInscriptionsMax }}  </td>
                            <td>{{ s.etat.libelle }}</td>
                            <td>{% if inscrit %} x {% endif %}</td>
                            <td>{{ s.organisateur.nom }}</td>
                            <td> <button
                                    class="btn btn-afficher">
                                    <a href="{{ path('sortie',{id: s.id}) }}">
                                        <i class="fa-solid fa-eye"></i></a><!--Afficher-->
                                </button>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    <div class="row">
    <div class=" col-9">
        <button class="btn btn-action">
            <a href="{{ path('app_sortie')}}"></a>
                Créer une sortie
        </button>

            </div>
        </div>
        <div class="row">
            </br>
        </div>


    </div>

    <script>
        function dateFinMini(value) {
            //alert(value);
            document.getElementById("date-fin").setAttribute("min", value);
        }
    </script>


{% endblock %}
