{% extends 'base.html.twig' %}


{% block body %}
    <div class="row">
        <div class="offset-11 ">
            <p>Date du jour: {{ "now"|date("m/d/Y") }}</p>
            <p>Participant: {{ user.nom }}  {{ user.prenom }}</p>
        </div>
    </div>
<div class="row">
    <div class="offset-1 col-9 blockfiltre">
        <h1 class="titlefiltre">Filtrer les sorties</h1>
        <form action="{{ path('recherche') }}" method="post">
            <div class="row">
            <div class="form-group col-md-4">
                <label for="site-select">Site:</label>
                <select id="site-select" class="form-control"name="site-select">
                    <option selected>Tous</option>
                    {% for ss in sites %}
                    <option> {{ ss.nom }}</option>
                    {% endfor %}
                </select>
                <div class="form-group">
                    <label for="name-filter">Le nom de la sortie contient:</label>
                    <input type="text" class="form-control" id="name-filter" name="name-filter" placeholder="Cinéma">
                </div>


                    <div class="row">
                    <div class="form-group col-md-6">
                        <label for="date-deb">Entre:</label>
                        <input onchange=dateFinMini(this.value) type="date" class="form-control" id="date-deb" name="date-deb" placeholder="Apartment, studio, or floor">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="date-fin">et</label>
                        <input type="date" class="form-control" id="date-fin" name="date-fin" placeholder="Apartment, studio, or floor">
                    </div>
                    </div>

                </div>
                <div class="form-group col-md-6">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="organisateur-filter" name="organisateur-filter">
                    <label class="form-check-label" for="organisateur-filter">
                        Sorties dont je suis organisateur
                    </label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="inscrit-filter" name="inscrit-filter">
                    <label class="form-check-label" for="inscrit-filter">
                        Sorties auxquelles je suis inscrit/e
                    </label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="noninscrit-filter" name="noninscrit-filter">
                    <label class="form-check-label" for="noninscrit-filter">
                        Sorties auxquelles je ne suis pas inscrit/e
                    </label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="passee-filter" name="passee-filter">
                    <label class="form-check-label" for="noninscrit-filter">
                        Sorties passées
                    </label>
                    </div>

                </div>

                <div class="form-group col-md-2">
                <div>
                    <button type="submit" class="btn btn-secondary">Rechercher</button>
                </div>
                </div>
            </div>


        </form>


    </div>
</div>
<div class="row">
    <div class="offset-1 col-9 blocktableau">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrits/places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for s in sorties %}
            {% set inscrit=false %}
            {% if (user in s.inscription)%} {% set inscrit=true %}{% endif %}
            {% if (user==s.organisateur and s.etat.libelle=='Créee' ) %}
                <tr>
                    <td>{{ s.nom }}</td>
                    <td>{{ s.dateHeureDebut |date("d/m/Y H:m")}}</td>
                    <td>{{ s.dateLimiteInscription |date("d/m/Y")}}</td>
                    <td>{{ s.inscription|length}} / {{ s.nbInscriptionsMax}}  </td>
                    <td>{{ s.etat.libelle }}</td>
                    <td></td>
                    <td>{{ s.organisateur.nom }}</td>
                    <td> <button
                                class="btn btn-primary">
                            <a href="{# {{ path('#',{id: s.id}) }}#}"></a>
                                <i class="fa-solid fa-edit">Modifier</i>
                        </button>
                        &nbsp;
                        <button
                                class="btn btn-danger del">
                            <a href="{#{{ path('#',{id: s.id}) }}#}"></a>
                                <i class="fa-solid fa-paper-plane">Publier</i>
                        </button>
                    </td>
                </tr>

                    {% elseif(user==s.organisateur and s.etat.libelle=='Ouverte')%}
                        <tr>
                            <td>{{ s.nom }}</td>
                            <td>{{ s.dateHeureDebut |date("d/m/Y H:m")}}</td>
                            <td>{{ s.dateLimiteInscription |date("d/m/Y")}}</td>
                            <td>{{ s.inscription|length}} / {{ s.nbInscriptionsMax}}  </td>
                            <td>{{ s.etat.libelle }}</td>
                            <td></td>
                            <td>{{ s.organisateur.nom }}</td>
                            <td><button class="btn btn-primary">
                                    <a href="{# {{ path('#',{id: s.id}) }}#}"></a>
                                        <i class="fa-solid fa-eye">Afficher</i>
                                </button>
                                &nbsp;
                                <button class="btn btn-danger del">
                                        <a href="{#{{ path('#',{id: s.id}) }}#}"></a>
                                        <i class="fa-solid fa-paper-trash">Annuler</i>
                                </button>
                            </td>
                        </tr>
                    {% elseif(user==s.organisateur and (s.etat.libelle=='En cours'or s.etat.libelle=='Passée' or s.etat.libelle=='Annulée'))%}
                        <tr>
                            <td>{{ s.nom }}</td>
                            <td>{{ s.dateHeureDebut |date("d/m/Y H:m")}}</td>
                            <td>{{ s.dateLimiteInscription |date("d/m/Y")}}</td>
                            <td>{{ s.inscription|length}} / {{ s.nbInscriptionsMax}}  </td>
                            <td>{{ s.etat.libelle }}</td>
                            <td></td>
                            <td>{{ s.organisateur.nom }}</td>
                            <td><button

                                        class="btn btn-primary">
                                    <a href="{# {{ path('#',{id: s.id}) }}#}"></a>
                                        <i class="fa-solid fa-eye">Afficher</i>
                                </button>
                            </td>
                        </tr>
                    {% elseif(user!=s.organisateur and (s.etat.libelle=='Ouverte' or s.etat.libelle=='Fermée' ))%}
                        <tr>
                            <td>{{ s.nom }}</td>
                            <td>{{ s.dateHeureDebut |date("d/m/Y H:m")}}</td>
                            <td>{{ s.dateLimiteInscription |date("d/m/Y")}}</td>
                            <td>{{ s.inscription|length}} / {{ s.nbInscriptionsMax}}  </td>
                            <td>{{ s.etat.libelle }}</td>
                            <td>{% if inscrit %} x {% endif %}</td>
                            <td>{{ s.organisateur.nom }}</td>
                            <td><button
                                        class="btn btn-primary">
                                    <a href="{# {{ path('#',{id: s.id}) }}#}"></a>
                                        <i class="fa-solid fa-eye">Afficher</i>
                                </button>
                                {% if inscrit %}
                                    &nbsp;
                                    <button
                                        class="btn btn-danger del">
                                        <a href="{#{{ path('#',{id: s.id}) }}#}"></a>
                                        <i class="fa-solid fa-user-minus">Désister</i>
                                    </button>
                                {% else%}
                                    <button
                                        class="btn btn-danger del">
                                    <a href="{#{{ path('#',{id: s.id}) }}#}"></a>
                                        <i class="fa-solid fa-user-plus">inscrire</i>
                                    </button>{% endif %}
                            </td>
                        </tr>
                    {% elseif(user!=s.organisateur and (s.etat.libelle=='En cours' or s.etat.libelle=='Passée' or s.etat.libelle=='Annulée' ))%}
                        <tr>
                            <td>{{ s.nom }}</td>
                            <td>{{ s.dateHeureDebut |date("d/m/Y H:m")}}</td>
                            <td>{{ s.dateLimiteInscription |date("d/m/Y")}}</td>
                            <td>{{ s.inscription|length}} / {{ s.nbInscriptionsMax}}  </td>
                            <td>{{ s.etat.libelle }}</td>
                            <td>{% if inscrit %} x {% endif %}</td>
                            <td>{{ s.organisateur.nom }}</td>
                            <td> <button
                                    class="btn btn-primary">
                                    <a href="{# {{ path('#',{id: s.id}) }}#}"></a>
                                        <i class="fa-solid fa-eye">Afficher</i>
                                </button>
                            </td>
                        </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
        </div>
    <div class="offset-1 col-9">
        <button class="btn btn-secondary">
            <a href="{# {{ path('#',{id: user.id) }}#}"></a>
                Créer une sortie
        </button>
    </div>
</div>

<script>
    function dateFinMini(value) {
        //alert(value);
        document.getElementById("date-fin").setAttribute("min",value);
    }
</script>


{% endblock %}
